{{#with controller.content}}
<header id="fanart" {{bindAttr style="fanartStyle"}}>
	<div class="animetitle"><h1>.hack//Roots</h1></div>
</header>
<div class="transparent-bar">
	<h2>{{title}}</h2>
</div>
<div class="container white">
	<div class="row-fluid">
		<div class="span8 pull-left">
			<p class="animedesc">
				{{desc}}
			</p>
		   
		   <!-- LATEST EPISODES -->
		   <ul>
		   {{#each episode in lastEpisodes}}
		   		<li>{{episode.number}}</li>
		   {{/each}}
		   </ul>

		   <ul>
			<!-- EPISODES -->
			{{#each episode in episodes}}
				<div class="episode row-fluid">
					<span class="episodeImage span2">
						<a href="#"><img {{bindAttr src="episode.imageURL"}} alt=""></a>
					</span>
					<span class="episodeContent span9 pull-right">
						<span class="episodeName"><a href="#">{{episode.name}}</a>
						</span><span class="episodeTime">
								Episode {{episode.number}}
								aired {{episode.aired}}</span>
					</span>
				</div>
			{{/each}}
			</ul>
			<!--
			<div class="progressbar">
				<div id="progress" style="width:50%;">
					<span><strong>13</strong> of <strong>26</strong> seen</span>
				</div>
			</div>
			<div class="episode row-fluid">
				<span class="episodeImage span2">
					<a href="/episode/view/19087"><img src="http://src.sencha.io/117/http://urani.me/attachments/photos/orginal/5030bfeb-75a0-4e90-874e-24edb8adc2dc.jpg" alt=""></a>
				</span>
				<span class="episodeContent span9 pull-right">
					<span class="episodeName"><a href="/episode/view/19087">Welcome to "The World"</a>
					</span><span class="episodeTime">
							Episode 1
							aired 2006-04-06</span>
				</span>
			</div>-->
		</div>
		<div class="span4 pull-right">
			<img class="animeimage pull-right" {{bindAttr src="imageURL"}}>
		</div>
	</div>
</div>
{{/with}}